.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 0;
  transition: all 0.3s ease;
  z-index: 1000;
}

.header.sticky {
  position: fixed;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 10px 0;
}
 
.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 0px 26px 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 26px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  color: #000;
  position: relative;
}

.nav-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #007bff;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: 0.3s;
}

.nav-links li:hover::after {
  width: 100%;
}

.resume-button {
  background: black;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

/* ================= MOBILE MENU ================= */

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* overlay */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2000;
}

/* menu box */
.mobile-menu {
  width: 260px;
  height: 100%;
  background: #fff;
  padding: 30px 20px;
  position: relative;
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.mobile-menu ul {
  list-style: none;
  margin-top: 40px;
}

.mobile-menu ul li {
  padding: 14px 0;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  color: #000;
}
 
.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 22px;
  cursor: pointer;
  color: #000;
}
 
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .resume-button {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
