body.light {
  background-color: #ffffff;
  color: #000;
}
 
body.dark {
  background-color: #000;
  color: #ffffff;
}
 
body.dark .about,
body.dark .education,
body.dark .experience,
body.dark .projects {
  background-color: #000;
}
 
body.dark .project-card,
body.dark .education-box,
body.dark .process-content,
body.dark .contact-left,
body.dark .contact-right {
  background-color: #000;
  color: #ffffff;
}
 
body.dark .header {
  background-color: #000;
}

body.dark .nav-links li {
  color: #ffffff;
}
 
body.dark input,
body.dark textarea {
  background-color: #000;
  color: #ffffff;
  border: 1px solid #334155;
}
